body {

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img.manuscript {
    max-width: 75%;
    position: relative;  
    left: 200px;
}

img.illustratie {
    max-width: 30%;
    position: relative;
    left: 200px;
}

p {
    text-indent: 10px;
}

lb {
    display: block;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.add {
  color: blue;
  vertical-align: super
}

.person {
  color: red;
  font-weight: bold
}

.del {
  text-decoration: line-through;
  text-decoration-thickness: 2px
}

.fw {
    text-align: center;
    width: 100%;
}
